body {
zoom:1;
}

#breadcrumb {
height:24px;
padding-top:4px;
}

hr {
margin:0;
}



.box_error p, .box_alert p, .box_confirm p, .box_info p {margin:10px;}

.box_contenu h2 {}
.box_contenu h2 a {margin-top:-20px;}


.clearfix:after {content: ".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;} /* Hides from IE-mac \*/
.clearfix {display:block;} /* Hides from IE-mac \*/