body {
margin:0;
padding:0;
font-family:arial,helvetica,sans-serif;
font-size:0.8em;
color:#1779B9;
}

html, body, #global {height: 100%;}

body  > #global {height: auto; min-height: 100%;}


#header {
background:url(commun/back_header.png) repeat-x #99CEE7;
height:59px;
}

#header #bloc_logo {
position:absolute;
top:6px;left:12px;
}

#header #bloc_login {
float:right;
text-align:right;
padding:2px 8px 0 0;
}

#main_menu {
background:url(commun/back_main_menu.png) repeat-x #D8D8D8;
height:57px;
padding:6px 0 0 12px;
border-bottom:1px solid #B1B6BA;
}


#main_menu a {
float:left;
border:0;
padding:36px 10px 0 10px;
margin:2px;
border-radius: 4px 4px;
-moz-border-radius: 4px;
text-decoration:none;
color:#9A9A9A;
font-size:86%;
text-align:center;

}

#main_menu a:hover {border:1px solid #aaaaaa;color:#656565;margin:1px;}


#main_menu a.picto_accueil {background:url(commun/picto_accueil.png) center 4px no-repeat;}
#main_menu a.picto_collectivites {background:url(commun/picto_collectivites.png) center 4px no-repeat;}
#main_menu a.picto_fournisseurs {background:url(commun/picto_fournisseurs.png) center 4px no-repeat;}
#main_menu a.picto_utilisateurs {background:url(commun/picto_utilisateurs.png) center 4px no-repeat;}
#main_menu a.picto_flux {background:url(commun/picto_flux.png) center 4px no-repeat;}
#main_menu a.picto_journal {background:url(commun/picto_journal.png) center 4px no-repeat;}
#main_menu a.picto_centre_gestion {background:url(commun/picto_centre_gestion.png) center 4px no-repeat;}
#main_menu a.picto_aide {background:url(commun/picto_aide.png) center 4px no-repeat;}


#main_menu a.picto_accueil:hover, 
#main_menu a.picto_collectivites:hover,
#main_menu a.picto_fournisseurs:hover,
#main_menu a.picto_utilisateurs:hover,
#main_menu a.picto_flux:hover,
#main_menu a.picto_journal:hover,
#main_menu a.picto_centre_gestion:hover,
#main_menu a.picto_aide:hover
{background-color:#E2E2E2;background-position:center -45px;}

#breadcrumb {background:url(commun/back_breadcrumb.png) repeat-x #D2DBDE;height:28px;color:#879EA9;line-height:1.8em;padding-left:20px;}
#breadcrumb a, #breadcrumb span {color:#879EA9;margin:0 8px 0 0;}
#breadcrumb a:hover {text-decoration:none;}

#main {padding:12px 20px 84px 20px;}
#main_gauche {float:left;width:224px;}
#main_droite {margin-left:244px;}




#bloc_titre_bouton {
border-bottom:1px dotted #D1DADE;
height:30px;
margin:0 0 18px 0;
padding-bottom:2px;
}

#bloc_h1 {float:left;}
#bloc_h1 h1 {
background:url(commun/puce_h1.png) 8px no-repeat;
margin:0 0 12px -4px;
padding:4px 4px 4px 28px;
font-size:130%;
font-weight:normal;
letter-spacing:1px;
}

#bloc_boutons {float:right;}
#bloc_boutons a {
background:url(commun/back_btn_01.png) repeat-x #B7B7B7;
height:24px;
display:block;
float:right;
border:1px solid #aaaaaa;
line-height:1.8em;
padding:0 10px 0 10px;
margin:0 0 0 10px;
border-radius: 4px 4px;
-moz-border-radius: 4px;
text-decoration:none;
color:#474747;
}
#bloc_boutons a:hover {background-position:0 -27px;}



#bloc_onglet {}
#bloc_onglet a {
background:url(commun/back_onglet_off.png) repeat-x #E8ECEE;
margin:0 0 0 12px;
padding:4px 12px 4px 12px;
text-decoration:none;
height:24px;
line-height:1.8em;
border:1px solid #E9EDEE;
border-bottom:1px solid #D3DBDE;
color:#B2B2B2;
position:relative;
top:-1px;
-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

#bloc_onglet a:hover {border:1px solid #D3DBDE;background:url(commun/back_onglet_on.png) repeat-x #F5F7F9;color:#5192BC;}

#bloc_onglet a.onglet_on, #bloc_onglet a.onglet_on :hover {
border:1px solid #D3DBDE;
background:url(commun/back_onglet_on.png) repeat-x #F5F7F9;
color:#868686;
font-weight:bold;
border-bottom:1px solid #F5F7F9;
cursor:default;
}

.box_contenu {
border:1px solid #D3DBDE;
background-color:#F5F7F9;
border-radius: 6px 6px;
-moz-border-radius: 6px;
padding:10px;
margin-bottom:20px;
}

.box_contenu h2 {font-size:100%;text-transform:uppercase;margin:0 0 4px 0;}
.box_contenu h2 a {float:right;text-transform:none;font-weight:normal;height:16px;line-height:1.4em;}

.box {margin:6px 0 20px 0;}
.haut {background:url(commun/back_h2.png) no-repeat #D1DADE;height:26px;}
.haut h2 {margin:0;color:#879EA9;font-weight:bold;font-size:100%;text-transform:uppercase;line-height:2em;padding-left:10px;}
.cont {/*background:url(commun/back_cont_gauche.png) repeat-x #FFFFFF;*/background-color:#F1F3F5;border:1px solid #D3DBDE;border-top:0;}
.cont h3 {
color:#7D7E87;
background:url(commun/back_h3_gauche.png) repeat-x #D5DEE1;
border-bottom:1px solid #CDCBC8;
font-size:90%;
padding:4px 0 4px 8px;
margin:0;
}


.cont p {margin:0;padding:8px;}
.cont ul {list-style-type:none;margin:0;padding:0;}
.cont ul li {border-bottom:1px solid #ffffff;}
.cont ul li a {color:#879EA9;display:block;padding:4px;text-decoration:none;background:url(commun/puce_li_off.png) 4px no-repeat;text-indent:12px;}
.cont ul li a:hover {background-color:#E8EDF0;color:#5C727C;}
.cont ul li.item_on {background:url(commun/puce_li_on.png) 4px no-repeat #E8EDF0;text-indent:12px;color:#1779D2;padding:4px;}




#bottom {
background-color:orange;
position: relative;
margin-top: -84px;
height: 84px;
clear:both;
}

#bloc_vers_haut {
background:url(commun/back_lien_vers_haut.png) repeat-x #D1DADD;
height:27px;
text-align:right;
padding-right:10px;
line-height:2em;
}

#bloc_copyright {background:url(commun/back_copyright.png) repeat-x #B6E1F2;height:57px;text-align:right;}


#bloc_logo_adullact {margin:10px;float:right;}
#bloc_mentions {float:left;}
#bloc_mentions p {margin:20px 0 0 20px;color:#126096;letter-spacing:1px;}

/* hack CSS */
.clearfix {}

.box_connexion {
background:url(commun/picto_connexion.png) no-repeat;
padding:0 12px 0 80px;
}

.box_message {
background:url(commun/picto_message.png) no-repeat;
padding:0 0 0 32px;
}

.box_message .bloc_message {
background-color:#ffffff;
border:1px solid #D3DBDE;
padding:8px;
margin:10px 0 10px 0;
border-radius: 6px 6px;
-moz-border-radius: 6px;
}

.box_message .box_piecejointe {
background:url(commun/picto_piecejointe.png) no-repeat;
padding:0 0 0 40px;
}


.box_error, .box_alert, .box_confirm, .box_info {
margin:8px 0 8px 0;
padding-left:40px;
}

.box_info {background:url(commun/ilu_info.png) 8px 8px no-repeat #EBF1FF;border-top:1px solid #ADC4FF;border-bottom:1px solid #ADC4FF;}
.box_error {background:url(commun/ilu_erreur.png) 8px 8px no-repeat #FEE8E8;color:#F20C0C;border-top:1px solid #F20C0C;border-bottom:1px solid #F20C0C;}
.box_alert {background:url(commun/ilu_alert.png) 8px 8px no-repeat #FEFEE4;color:#EC8B00;border-top:1px solid #FFD639;border-bottom:1px solid #FFD639;}
.box_confirm {background:url(commun/ilu_confirm.png) 8px 8px no-repeat #EFFBCF;color:#108203;border-top:1px solid #BCE166;border-bottom:1px solid #BCE166;}



.box_suiv {border-bottom:1px dotted #D3DBDE;margin:12px 0 6px 0;height:1.8em;}
.box_suiv .prec {float:left;width:32%;margin:1px;display:block;text-align:left;}
.box_suiv .milieu {float:left;width:33%;text-align:center;margin:2px;}
.box_suiv .suiv {float:right;width:32%;margin:1px;display:block;text-align:right;}
.box_suiv .prec a:hover, .box_suiv .suiv a:hover {text-decoration:none;}

.box_btn_droite {
border:1px solid red;
float:right;
height:28px;
}

/* divers �l�ment de base */

hr {margin:10px 0 10px 0;border:0;border-bottom:1px solid #D3DBDE;height:1px;}
img {border:0;}
a {color:#0179FF;}
a:hover {color:#01A2FF;text-decoration:none;}
.absmiddle {margin:0.1em;margin-left:0;margin-right:4px;vertical-align:middle;display:inline;}



/* tableau */
table {width:100%;}
.tab_01, .tab_02, .tab_03, .tab_04 {border-collapse:collapse;margin-bottom:12px;}

.tab_01 th,.tab_02 th,.tab_03 th,.tab_04 th {padding:4px;color:#ffffff;text-align:left;}
.tab_01 td,.tab_02 td,.tab_03 td,.tab_04 td {padding:4px;}

.tab_01 tr:hover, .tab_02 tr:hover, .tab_03 tr:hover {background-color:#F9F9DF;}

form {margin-top:0;margin-bottom:0;}
form table {margin-bottom:12px;}

form table th {text-align:right;font-weight:normal;background-color:#E7ECF1;padding:0 20px 0 0;}
form table td {text-align:left;padding:4px;}

form table tr.tr_box_error th {background-color:#FDDBDB;border-bottom:1px solid #FF0000;color:#9E1010;}
form table tr.tr_box_error td {background-color:#FDDBDB;border-bottom:1px solid #FF0000;color:#9E1010;}
form table tr.tr_box_error td p {font-weight:bold;}

form table td input, form table td textarea, form table td select {width:98%;}

input, textarea, select {padding:2px;font-size:100%;font-family:arial,helvetica,sans-serif;}
label span {color:#FF0000;font-size:140%;}

.submit, .btn {
background:url(commun/back_btn_01.png) repeat-x #B7B7B7;
border:1px solid #aaaaaa;
padding:2px 10px 2px 10px;
margin:0 0 0 10px;
border-radius: 4px 4px;
-moz-border-radius: 4px;
text-decoration:none;
color:#474747;
cursor:pointer;
line-height:1.6em;
height:24px;
}

.submit {line-height:1.4em;}
.submit:hover, .btn:hover {background-position:0 -27px;color:#C83B10;}


.btn_add, .btn_maj, .btn_ok, .btn_pas_ok {
border:1px solid #aaaaaa;
padding:4px 12px 4px 26px;
margin:4px 0 4px 0;
border-radius: 4px 4px;
-moz-border-radius: 4px;
text-decoration:none;
color:#474747;
cursor:pointer;
line-height:1.6em;
height:24px;
}

.btn_add {background:url(commun/picto_nouveau.png) 4px 1px no-repeat #DCDCDC;}
.btn_maj {background:url(commun/picto_modifier.png) 4px 1px no-repeat #DCDCDC;}
.btn_ok {background:url(commun/picto_ok.png) 4px 1px no-repeat #DCDCDC;}
.btn_pas_ok {background:url(commun/picto_pas_ok.png) 4px 1px no-repeat #DCDCDC;}
.btn_add:hover, .btn_maj:hover, .btn_ok:hover, .btn_pas_ok:hover {background-color:#F3F3F3;}


.tab_01 th {background:url(commun/back_tab_01.png) repeat-x #7CB6DA;border-bottom:1px solid #185C8C;}
.tab_01 td {border-bottom:1px solid #E3E9ED;}

.tab_02 th {background:url(commun/back_tab_02.png) repeat-x #86D464;border-bottom:1px solid #428D21;}
.tab_02 td {border-bottom:1px solid #C0ECB2;color:#64795B;}

.tab_03 th {background:url(commun/back_tab_03.png) repeat-x #FA8D2C;border-bottom:1px solid #C55F05;color:#C55F05;}
.tab_03 td {border-bottom:1px solid #E8D1B6;color:#C55F05;}

.tab_04 th {background-color:#E9EEF3;border-bottom:1px solid #ffffff;color:#868686;}
.tab_04 td {border-bottom:1px solid #FFFFFF;}

.bg_class_blanc {background-color:#ffffff;}
.bg_class_gris {background-color:#E7ECF1;}
.bg_class_vert {background-color:#DCF5D5;}
.bg_class_orange {background-color:#EFDECB;}

.float_col {}
.float_left {float:left;}
.float_right {float:right;}
.align_right {text-align:right;}
.align_left {text-align:left;}
.align_center {text-align:center;}
.align_justify {text-align:justify;}

.w50pc {width:50%;}
.w30 {width:30px;}
.w140 {width:140px;}
.w400 {width:400px;}
.w500 {width:500px;}
.w600 {width:600px;}
.w700 {width:700px;}

.txt_rouge {color:#FF0000;}


.input_normal {width: 100px;}


.lien_retour{
	padding-bottom: 10px;
}